<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
div.text {
    margin: 0 auto;
}
a {
    color: #007bff;
}
.highlight {
    color: #e06666;
    font-weight: bold;
}
</style>
</head>
<body>
    <div class="text">
        <h2>Aloha, Student! :)</h2>
        <br/>
        <p>🚀  You have been added to the new course  <a href="{{course_url}}">{{course_name}}</a></p>
        <br/>
        <p>📚 For all questions regarding the content of lessons, homework, your teacher will help.</p>
        <br/>
        <p>⚒️ If you have any questions or suggestions related our system - message to us <a href="mailto:{{eduway_email}}">{{eduway_email}}</a>. We are reading our inbox regularly and will give attention to your message for sure.</p>
        <br/>
        <p>Happy learning!</p>
        <p>EduWay team</p>
    </div>
</body>
</html>
