<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
div.text {
    margin: 0 auto;
}
a {
    color: #007bff;
}
.highlight {
    color: #e06666;
    font-weight: bold;
}
</style>
</head>
<body>
    <div class="text">
        <h2>Aloha, Student! :)</h2>
        <br/>
        <p>🚀  You have been invited to <a href="{{site_url}}">EduWay</a>.Your credentials are:</p>
        <p>
            Login: <b>{{credentials.email}}</b><br/>
            Password: <b>{{credentials.password}}</b>
        </p>
        <br/>
        <p>
            <p class="highlight">
                We are really glad to see you on our platform!
            <p>
            <i>Here you can study material and do homework</i>
        </p>
        <br/>
        <p>⚒️ If you have any questions or suggestions related our system - message to us <a href="mailto:{{eduway_email}}">{{eduway_email}}</a>. We are reading our inbox regularly and will give attention to your message for sure.</p>
        <br/>
        <p>📚 For all questions regarding the content of lessons, homework, your teacher will help.</p>
        <br/>
        <p>Happy learning!</p>
        <p>EduWay team</p>
    </div>
</body>
</html>
