<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
div.text {
    margin: 0 auto;
}
a {
    color: #007bff;
}
.highlight {
    color: #e06666;
    font-weight: bold;
}
</style>
</head>
<body>
    <div class="text">
        <h2>Алоха, создатель курса! :)</h2>
        <br/>
        <p>🚀  Вам открыт доступ к <a href="{{site_url}}">организации {{org_name}}</a> на платформе <a href="{{site_url}}">EduWay</a>.</p>
        <br/>
        <p>⚒️ Если возникают технические  проблемы с работой системы, то сразу же пишите нам на <a href="mailto:{{eduway_email}}">{{eduway_email}}</a>. Мы правда читаем каждое письмо и постараемся решить все в кратчайшие сроки.</p>

        <br/>
        <p>Всего самого наилучшего!</p>
        <p>Команда EduWay</p>
    </div>
</body>
</html>
