<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
div.text {
    margin: 0 auto;
}
a {
    color: #007bff;
}
.highlight {
    color: #e06666;
    font-weight: bold;
}
</style>
</head>
<body>
    <div class="text">
        <h2>Алоха, создатель курса! :)</h2>
        <br/>
        <p>🚀  Это приглашение на платформу <a href="{{site_url}}">EduWay</a>. Ваши данные для входа:</p>
        <p>
            Логин: <b>{{credentials.email}}</b><br/>
            Пароль: <b>{{credentials.password}}</b>
        </p>
        <br/>
        <p>
            <p class="highlight">
                Мы рады видеть Вас на нашей платформе!
            <p>
            <i>Здесь вы сможете создавать обучающий контент, приглашать студентов и обучать.</i>
        </p>
        <br/>
        <p>⚒️ Если возникают технические  проблемы с работой системы, то сразу же пишите нам на <a href="mailto:{{eduway_email}}">{{eduway_email}}</a>. Мы правда читаем каждое письмо и постараемся решить все в кратчайшие сроки.</p>

        <br/>
        <p>Всего самого наилучшего!</p>
        <p>Команда EduWay</p>
    </div>
</body>
</html>
