<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
div.text {
    margin: 0 auto;
}
a {
    color: #007bff;
}
.highlight {
    color: #e06666;
    font-weight: bold;
}
</style>
</head>
<body>
    <div class="text">
        <h2>Hi, Admin! :)</h2>
        <br/>
        <p>🚀  You've got access to <a href="{{site_url}}">the organization {{org_name}}</a> on <a href="{{site_url}}">EduWay platform</a>.</p>
        <br/>
        <p>⚒️ If you have any questions or suggestions related our system - message to us <a href="mailto:{{eduway_email}}">{{eduway_email}}</a>. We are reading our inbox regularly and will give attention to your message for sure.</p>

        <br/>
        <p>Wish you all the best!</p>
        <p>EduWay team</p>
    </div>
</body>
</html>
