<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
div.text {
    margin: 0 auto;
}
a {
    color: #007bff;
}
.highlight {
    color: #e06666;
    font-weight: bold;
}
</style>
</head>
<body>
    <div class="text">
        <h2>Алоха! :)</h2>
        <br/>
        <p>🚀  Тебе был открыт доступ на новый курс  <a href="{{course_url}}">{{course_name}}</a> в EduWay.</p>
        <br/>
        <p>📚 По всем вопросам касательно содержания уроков, домашних заданий поможет твой учитель. Смело пиши ему <a href="{{admin_email}}">{{admin_email}}</a> :)</p>
        <br/>
        <p>⚒️ Если возникают технические  проблемы с работой системы, то сразу же пиши нам  <a href="mailto:{{eduway_email}}">{{eduway_email}}</a>. Мы правда читаем каждое письмо и постараемся решить все в кратчайшие сроки.</p>
        <br/>
        <p>Успехов в обучении!</p>
        <p>Команда EduWay</p>
    </div>
</body>
</html>
