<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
div.text {
    margin: 0 auto;
}
a {
    color: #007bff;
}
.highlight {
    color: #e06666;
    font-weight: bold;
}
</style>
</head>
<body>
    <div class="text">
        <h2>Алоха, студент! :)</h2>
        <br/>
        <p>🚀  Это приглашение на платформу <a href="{{site_url}}">EduWay</a>.</p>
        <p>
            Логин: <b>{{credentials.email}}</b><br/>
            Пароль: <b>{{credentials.password}}</b>
        </p>
        <br/>
        <p>
            <p class="highlight">
                Команда EduWay и <a href="mailto:{{admin_email}}">{{admin}}</a> очень рады видеть тебя на нашей платформе!
            <p>
            <i>Тут  ты сможешь изучать материал и выполнять домашние задания.</i>
        </p>
        <br/>
        <p>⚒️ Если возникают технические  проблемы с работой системы, то сразу же пиши нам на <a href="mailto:{{eduway_email}}">{{eduway_email}}</a>. Мы правда читаем каждое письмо и постараемся решить все в кратчайшие сроки.</p>
        <br/>
        <p>📚 По всем вопросам касательно содержания уроков, домашних заданий поможет твой учитель.</p>
        <br/>
        <p>Успехов в обучении!</p>
        <p>Команда EduWay</p>
    </div>
</body>
</html>
