<!DOCTYPE>
<html>
<head>
<meta charset="utf-8" />
<style>
body, html {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
div.text {
    margin: 0 auto;
    display: flex;
}
div.list {
    font-size: 24px;
    margin: 0 1em;
}
a {
    color: #007bff;
}
.highlight {
    color: #e06666;
    font-weight: bold;
}
</style>
</head>
<body>
    <div class="text">
        <div class="list">
            <h1>RU</h1>
            <ul>
                <li><a href="/ru/student/invite">Invite Student (not registered yet)</a></li>
                <li><a href="/ru/student/assign_course">Assign Course to Student (registered already)</a></li>
                <li><a href="/ru/admin/invite">Invite Admin (not registered already)</a></li>
                <li><a href="/ru/admin/invite_registered">Invite Admin (registered already)</a></li>
            </ul>
        </div>
        <div class="list">
            <h1>EN</h1>
            <ul>
                <li><a href="/en/student/invite">Invite Student (not registered yet)</a></li>
                <li><a href="/en/student/assign_course">Assign Course to Student (registered already)</a></li>
                <li><a href="/en/admin/invite">Invite Admin (not registered already)</a></li>
                <li><a href="/en/admin/invite_registered">Invite Admin (registered already)</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
